@model  List<SkillTreeHomeWork.Models.ViewModels.AccountBookViewModels>

@{
    ViewBag.Title = "Area Account Book Index";
    int AccountNumber = 0;
}

<h2>Area Account Book Index</h2>
@Html.ActionLink("Create Account Book", "Create")
<table class="table table-bordered table-hover">
    <tr>
        <th></th>
        <th>編號</th>
        <th>類別</th>
        <th>日期</th>
        <th>金額</th>
    </tr>
    @foreach (var AccountBookModels in Model)
    {
        <tr>
            <td width="15%">
                @Html.ActionLink("Edit", "Edit", new { id = @AccountBookModels.Id }) |
                @Html.ActionLink("Details", "Details", new { id = @AccountBookModels.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = @AccountBookModels.Id })
            </td>
            <td width="15%">@(++AccountNumber) @Html.Hidden(@AccountBookModels.Id.ToString())</td>
            <td width="20%">
                @MyHelpers.DisplayCategoryColor(AccountBookModels.Category)
            </td>
            <td width="25%">@Html.Label(@AccountBookModels.Date.ToString("yyyy-MM-dd"))</td>
            <td width="25%">@Html.Label(@AccountBookModels.Amount.ToString())</td>
        </tr>
    }
</table>